{% extends 'LabsPagesBundle::layout_forth.html.twig' %}

{% block  body %}

    <!-- Services -->
    <section id="services" class="services white-bg text-center">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="service-item">
                            <div class="item-icon">
                                <i class="fa fa-tree"></i>
                            </div><!-- /.item-icon -->
                            <h3 class="service-title">Funeral</h3>
                            <p class="service-txt">
                                We are all creatures of influence. We are being influenced, and we are having an influence. Human life had some influence.
                            </p>
                        </div><!-- /.service-item -->
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-4">
                        <div class="service-item">
                            <div class="item-icon">
                                <i class="fa fa-fire"></i>
                            </div><!-- /.item-icon -->
                            <h3 class="service-title">Cremation</h3>
                            <p class="service-txt">
                                We influence more by example than by words. If we say one thing and act another, we shall find our actions speaking more loudly than our words.
                            </p>
                        </div><!-- /.service-item -->
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-4">
                        <div class="service-item">
                            <div class="item-icon">
                                <i class="fa fa-bell"></i>
                            </div><!-- /.item-icon -->
                            <h3 class="service-title">Cemetery</h3>
                            <p class="service-txt">
                                The love you have, O child of God, will find its way into some other life sometime, somewhere. Then may we love him with all the heart.
                            </p>
                        </div><!-- /.service-item -->
                    </div><!-- /.col-md-3 -->

                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section>
    <!-- Services End -->



    <!-- Banner Section -->
    <section id="banners" class="banners">
        <div class="section-padding">
            <div class="container">
                <div class="row row5">
                    <div class="col-md-3 col-sm-6 lrp5">
                        <div class="banner-item">
                            <div class="banner-icon">
                                <i class="fa fa-envelope-square"></i>
                            </div>
                            <h3 class="banner-title">In loveing memory</h3>
                            <p class="banner-txt">
                                There must be great love to God and an earnest desire to know his will.
                            </p>
                        </div>
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6 lrp5">
                        <div class="banner-item">
                            <div class="banner-icon">
                                <i class="fa fa-book"></i>
                            </div>
                            <h3 class="banner-title">True loving tribute</h3>
                            <p class="banner-txt">
                                Without strong desire to know God's will you can never learn it.
                            </p>
                        </div>
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6 lrp5">
                        <div class="banner-item">
                            <div class="banner-icon">
                                <i class="fa fa-file-text"></i>
                            </div>
                            <h3 class="banner-title">Remember our beloved</h3>
                            <p class="banner-txt">
                                It is those who desire that obtain answers to their prayers
                            </p>
                        </div>
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6 lrp5">
                        <div class="banner-item">
                            <div class="banner-icon">
                                <i class="fa fa-life-ring"></i>
                            </div>
                            <h3 class="banner-title">Forever in our heart</h3>
                            <p class="banner-txt">
                                The desire must be so intense that you feel as if you must know
                            </p>
                        </div>
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section>
    <!-- Banner Section End -->


    <!-- facts section -->

    <section id="facts" class="facts" data-stellar-background-ratio="0.1" data-stellar-vertical-offset="0.4">
        <div class="parallax-style">
            <div class="section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="item media">
                                <div class="media-left">
                                    <div class="hex">
                                        <div class="hex-icon"><i class="fa fa-user"></i></div>
                                    </div><!-- /.hex -->
                                </div>
                                <div class="media-body">
                                    <div class="countdown">
                                        <span class="count-number counter">234</span>
                                    </div><!-- /.countdown -->
                                    <h4 class="about-facts">Obituaries</h4>
                                </div>
                            </div><!-- /.item -->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="item media">
                                <div class="media-left">
                                    <div class="hex">
                                        <div class="hex-icon"><i class="fa fa-map-marker"></i></div>
                                    </div><!-- /.hex -->
                                </div>
                                <div class="media-body">
                                    <div class="countdown">
                                        <span class="count-number counter">221</span>
                                    </div><!-- /.countdown -->
                                    <h4 class="about-facts">Locations</h4>
                                </div>
                            </div><!-- /.item -->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="item media">
                                <div class="media-left">
                                    <div class="hex">
                                        <div class="hex-icon"><i class="fa fa-crosshairs"></i></div>
                                    </div><!-- /.hex -->
                                </div>
                                <div class="media-body">
                                    <div class="countdown">
                                        <span class="count-number counter">719</span>
                                    </div><!-- /.countdown -->
                                    <h4 class="about-facts">Funerals</h4>
                                </div>
                            </div><!-- /.item -->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="item media">
                                <div class="media-left">
                                    <div class="hex">
                                        <div class="hex-icon"><i class="fa fa-users"></i></div>
                                    </div><!-- /.hex -->
                                </div>
                                <div class="media-body">
                                    <div class="countdown">
                                        <span class="count-number counter">79</span>
                                    </div><!-- /.countdown -->
                                    <h4 class="about-facts">Members</h4>
                                </div>
                            </div><!-- /.item -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.section-padding -->
        </div><!-- /.parallax-style -->
    </section><!-- /#facts -->

    <!-- facts section -->


    <!-- Articles -->
    <section id="articles" class="articles">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <article class="post-content">
                            <div class="featured-img">
                                <img class="blog-post-image" src="images/articles/image-1.jpg" alt="Featured Image">
                            </div><!-- /.featured-img -->
                            <div class="post-container">
                                <h3 class="post-title">
                                    <a href="#">Ready For Pre-Plan on Online</a>
                                </h3><!-- /.post-title -->
                                <p class="post-description">
                                    Through Jesus Christ, Christians are made partakers of the divine nature. They receive the imprint of divine character in their souls. Among the different principles in the character of God is found steadfastness.
                                </p>
                            </div><!-- /.post-container -->
                        </article><!-- /.post-content -->
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">
                        <article class="post-content">
                            <div class="featured-img">
                                <img class="blog-post-image" src="images/articles/image-2.jpg" alt="Featured Image">
                            </div><!-- /.featured-img -->
                            <div class="post-container">
                                <h3 class="post-title">
                                    <a href="#">When Someone Passed away</a>
                                </h3><!-- /.post-title -->
                                <p class="post-description">
                                    When God delivered Daniel from the lions, Darius the king said, To make a decree that in every dominion of my kingdom men tremble and fear before the God of Daniel: for he is the living God, and steadfast forever.
                                </p>
                            </div><!-- /.post-container -->
                        </article><!-- /.post-content -->
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">
                        <article class="post-content">
                            <div class="featured-img">
                                <img class="blog-post-image" src="images/articles/image-3.jpg" alt="Featured Image">
                            </div><!-- /.featured-img -->
                            <div class="post-container">
                                <h3 class="post-title">
                                    <a href="#">FInd an obituary or cemetery</a>
                                </h3><!-- /.post-title -->
                                <p class="post-description">
                                    You will find that, if you attend to every Christian duty, you will often have to go contrary to your feelings. How often the enemy of your soul will, if he can, cast indifferent feelings over you concerning prayer.
                                </p>
                            </div><!-- /.post-container -->
                        </article><!-- /.post-content -->
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">
                        <article class="post-content">
                            <div class="featured-img">
                                <img class="blog-post-image" src="images/articles/image-3.jpg" alt="Featured Image">
                            </div><!-- /.featured-img -->
                            <div class="post-container">
                                <h3 class="post-title">
                                    <a href="#">FInd an obituary or cemetery</a>
                                </h3><!-- /.post-title -->
                                <p class="post-description">
                                    You will find that, if you attend to every Christian duty, you will often have to go contrary to your feelings. How often the enemy of your soul will, if he can, cast indifferent feelings over you concerning prayer.
                                </p>
                            </div><!-- /.post-container -->
                        </article><!-- /.post-content -->
                    </div><!-- /.col-md-3 -->

                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section>
    <!-- Articles End -->


    <!-- about Section -->
    <section id="about-us" class="about-us">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="section-detials">
                        <div class="col-md-6">
                            <h3 class="section-title">About us</h3>
                            <p class="description">
                                <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <div class="continue-reading pull-left">
                                <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="video-container text-center">
                                <img src="images/help.jpg" alt="Image">
                                <a href="http://player.vimeo.com/video/21969942" class="gallery-item-link play-btn transition boxer"><i class="fa fa-play"></i></a>
                            </div><!-- /.video-container -->
                        </div>
                    </div><!-- /.section-detials -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /#about -->
    <!-- about Section -->


    <!-- Gallery -->
    <section id="gallery" class="gallery">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <h2 class="section-title">Our Gallery</h2>
                    <div class="item col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="images/gallery-2/1.jpg" alt="Gallery Image">
                            <a href="images/gallery/img-big.jpg" title="Image tittle goes here" class="gallery-item-link transition boxer">
                                <div class="hex-container">
                                    <div class="hex">
                                        <div class="hex-icon"><i class="fa fa-plus"></i></div>
                                    </div><!-- /.hex -->
                                </div>
                            </a>
                        </div><!-- ./gallery-item -->
                    </div><!-- /.item -->
                    <div class="item col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="images/gallery-2/2.jpg" alt="Gallery Image">
                            <a href="images/gallery/img-big.jpg" title="Image tittle goes here" class="gallery-item-link transition boxer">
                                <div class="hex-container">
                                    <div class="hex">
                                        <div class="hex-icon"><i class="fa fa-plus"></i></div>
                                    </div><!-- /.hex -->
                                </div>
                            </a>
                        </div><!-- ./gallery-item -->
                    </div><!-- /.item -->
                    <div class="item col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="images/gallery-2/3.jpg" alt="Gallery Image">
                            <a href="images/gallery/img-big.jpg" title="Image tittle goes here" class="gallery-item-link transition boxer">
                                <div class="hex-container">
                                    <div class="hex">
                                        <div class="hex-icon"><i class="fa fa-plus"></i></div>
                                    </div><!-- /.hex -->
                                </div>
                            </a>
                        </div><!-- ./gallery-item -->
                    </div><!-- /.item -->
                    <div class="item col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="images/gallery-2/4.jpg" alt="Gallery Image">
                            <a href="images/gallery/img-big.jpg" title="Image tittle goes here" class="gallery-item-link transition boxer">
                                <div class="hex-container">
                                    <div class="hex">
                                        <div class="hex-icon"><i class="fa fa-plus"></i></div>
                                    </div><!-- /.hex -->
                                </div>
                            </a>
                        </div><!-- ./gallery-item -->
                    </div><!-- /.item -->
                    <div class="item col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="images/gallery-2/5.jpg" alt="Gallery Image">
                            <a href="images/gallery/img-big.jpg" title="Image tittle goes here" class="gallery-item-link transition boxer">
                                <div class="hex-container">
                                    <div class="hex">
                                        <div class="hex-icon"><i class="fa fa-plus"></i></div>
                                    </div><!-- /.hex -->
                                </div>
                            </a>
                        </div><!-- ./gallery-item -->
                    </div><!-- /.item -->
                    <div class="item col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="images/gallery-2/6.jpg" alt="Gallery Image">
                            <a href="images/gallery/img-big.jpg" title="Image tittle goes here" class="gallery-item-link transition boxer">
                                <div class="hex-container">
                                    <div class="hex">
                                        <div class="hex-icon"><i class="fa fa-plus"></i></div>
                                    </div><!-- /.hex -->
                                </div>
                            </a>
                        </div><!-- ./gallery-item -->
                    </div><!-- /.item -->
                </div><!-- /.row -->
            </div><!--  /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /#gallery -->
    <!-- Gallery End -->


    <!-- help Section -->
    <section id="help" class="help">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="section-details">
                        <div class="col-md-6">
                            <img src="images/help.jpg" alt="Image">
                        </div>

                        <div class="col-md-6">
                            <h3 class="help-title">Helping your loved one</h3>
                            <p class="description">
                                <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            </p>
                            <div class="continue-reading pull-left">
                                <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div><!-- /.section-detials -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /#help -->
    <!-- help Section -->


    <!-- Testiminial Section -->

    <section id="home-testimonial" class="home-testimonial text-center" data-stellar-background-ratio="0.1" data-stellar-vertical-offset="0">
        <div class="section-padding">
            <div class="container">
                <div id="home-testimonial-slider" class="home-testimonial-slider owl-carousel owl-theme">
                    <div class="item">
                        <div class="client-avatar"><img class="img-circle" src="images/avatar/pp-post-1.jpg" alt="Client Avatar"></div>
                        <div class="client-name">Sarah Doe</div>

                        <div class="client-text">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-avatar"><img class="img-circle" src="images/avatar/pp-post-2.jpg" alt="Client Avatar"></div>
                        <div class="client-name">Jonathon Hex</div>

                        <div class="client-text">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        </div>

                    </div>
                    <div class="item">
                        <div class="client-avatar"><img class="img-circle" src="images/avatar/pp-post-3.jpg" alt="Client Avatar"></div>
                        <div class="client-name">Maria Doe</div>

                        <div class="client-text">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        </div>
                    </div>
                </div>
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /#testimonial -->

    <!-- Testiminial Section -->
{% endblock %}