{% extends 'LabsPagesBundle::layout.html.twig' %}
{% block title %} {{ 'FORUM POUR LE FINANCEMENT DU SECTEUR PRIVÉ'|capitalize }}{% endblock %}
{% block  body %}
    <h1> {{ 'Page en Construction' }}</h1>
{% endblock %}
{% block javascripts %}{% endblock %}