<footer>
    <div class="container">
        <!-- FOOTER COLUMNS CONTENT -->
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="footer-col about">
                    <h5>About Company</h5>
                    <p>
                        Deliver is premium wordpress theme which has powerful user interface and was created using latest and modern web design technologies.
                    </p>

                    <ul class="list">
                        <li><i class="fa fa-map-marker"></i>20 Street Name, Sydney, Australia</li>
                        <li><i class="fa fa-phone"></i>0800 2222 3333 - 0800 2222 3333</li>
                        <li><i class="fa fa-envelope"></i>needhelp@deliver.com</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="footer-col links">
                    <h5>Useful Links</h5>

                    <ul class="list list-caret">
                        <li><a href="#">About GfxPartner</a></li>
                        <li><a href="#">Video Overview</a></li>
                        <li><a href="#">Customer Support</a></li>
                        <li><a href="#">Theme Features</a></li>
                        <li><a href="#">Breaking News</a></li>
                    </ul>
                </div>
            </div>

            <div class="clearfix visible-sm"></div>

            <div class="col-sm-6 col-md-3">
                <div class="footer-col projects">
                    <h5>Projects</h5>

                    <ul class="list">
                        <li><img src="http://placehold.it/200x200" alt="About the image"></li>
                        <li><img src="http://placehold.it/200x200" alt="About the image"></li>
                        <li><img src="http://placehold.it/200x200" alt="About the image"></li>
                        <li><img src="http://placehold.it/200x200" alt="About the image"></li>
                        <li><img src="http://placehold.it/200x200" alt="About the image"></li>
                        <li><img src="http://placehold.it/200x200" alt="About the image"></li>
                        <li><img src="http://placehold.it/200x200" alt="About the image"></li>
                        <li><img src="http://placehold.it/200x200" alt="About the image"></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="footer-col form">
                    <h5>Free Quote</h5>

                    <input type="text" class="form-control" placeholder="Name">
                    <input type="text" class="form-control" placeholder="Email">
                    <a href="#" class="btn btn-default btn-fullwidth btn-colored">Get A Free Quote</a>
                </div>
            </div>
        </div>
    </div><!-- // .container -->

    <!-- FOOTER COPYRIGHTS -->
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-left">
                    <ul class="list">
                        <li><a href="homepage.html">Home</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="what-we-do.html">What we do</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-right">
                    <p>© Zawia</p>
                </div>
            </div>
        </div>
    </div>
</footer>
