<section class="hero-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="owl-carousel splash-slider">

                <!-- SLIDE -->
                <div>
                    <!-- SLIDE BACKGROUND IMAGE -->
                    <!-- CHANGE IT TO YOUR SLIDE BACKGROUND IMAGE -->
                    <img src="http://placehold.it/1895x1100" alt="About the image" />

                    <!-- SLIDE CONTENT -->
                    <div class="content">
                        <h2>We Build Future</h2>
                        <ul class="list">
                            <li>Homes</li>
                            <li>Buildings</li>
                            <li>Bridges</li>
                            <li>Roads</li>
                        </ul>
                        <a href="#" class="btn btn-default btn-light btn-colored">Contact Us</a>
                        <a href="#" class="btn btn-default btn-dark">Read More</a>
                    </div>
                </div>

                <!-- SLIDE -->
                <div>
                    <!-- SLIDE BACKGROUND IMAGE -->
                    <!-- CHANGE IT TO YOUR SLIDE BACKGROUND IMAGE -->
                    <img src="http://placehold.it/1895x1100" alt="About the image" />

                    <!-- SLIDE CONTENT -->
                    <div class="content">
                        <h2>We Build Future</h2>
                        <ul class="list">
                            <li>Homes</li>
                            <li>Buildings</li>
                            <li>Bridges</li>
                            <li>Roads</li>
                        </ul>
                        <a href="#" class="btn btn-default btn-light btn-colored">Contact Us</a>
                        <a href="#" class="btn btn-default btn-dark">Read More</a>
                    </div>
                </div>
            </div>
        </div><!-- // .row -->
    </div><!-- // .container -->
</section><!-- // SECTION 1 -->
