<div class="container-fluid no-padding">
    <div class="main-slider">
        <div class="item">
            <div class="main-slider-img position-r" style="border-bottom: 4px solid #f48a38;">
                <img src="{{ asset('layout_two/img/slide.jpg') }}" alt="la finance s'engage">
            </div>
        </div>
    </div>
</div>
