<footer id="footer-widget" class="footer-widget">
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="widget widget_text">
                        <a class="widget-logo" href="#"><img src="{{ asset('layout_three/images/logo_back.png') }}" alt="Logo"></a>
                        <p>
                        </p>
                        <div class="social-icon">
                            <a href="#" class="facebook"><i class="fa fa-facebook-square"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter-square"></i></a>
                            <!--<a href="#" class="tumblr"><i class="fa fa-tumblr-square"></i></a>
                            <a href="#" class="flickr"><i class="fa fa-flickr"></i></a>
                            <a href="#" class="pinterest"><i class="fa fa-pinterest-square"></i></a>
                            <a href="#" class="envelope"><i class="fa fa-envelope-square"></i></a>-->
                        </div>
                    </aside><!-- /.widget -->
                </div><!-- /.col-md-3 -->

                <div class="col-md-3">
                    <aside class="widget widget_links">
                        <h4 class="widget-title">
                            Communiqués
                        </h4>
                       <!-- <div class="address">
                            <span class="address-title"><i class="fa fa-info"></i>Finance</span>
                            <span class="address-details">Lorem adipisicing elit. Adipiss sapiente velit!</span>
                        </div>
                        <div class="address">
                            <span class="address-title"><i class="fa fa-fa"></i>Economie</span>
                            <span class="address-details">Lorem adipisicing elit. Adipiss sapiente velit!</span>
                        </div> -->
                    </aside><!-- /.widget -->
                </div><!-- /.col-md-3 -->

                <div class="col-md-3">
                    <aside class="widget widget_twitter_feeds">
                        <div class="stripe-full">
                            <h4 class="widget-title">
                                Twitter Feeds
                            </h4>
                        </div>
                       <!-- <ul class="twitter-feeds">
                            <li>
                                <div class="tweet">
                                    <a href="#">@themeforest</a> You rejoice because you and your family are in good health
                                    <a href="#">http://enva.to/GC58F</a>
											<span class="tweet-time">
												<i class="fa fa-twitter"></i> 3 hours ago
											</span>
                                </div>
                            </li>
                            <li>
                                <div class="tweet">
                                    <a href="#">@themeforest</a> because circumstances surrounding you are favorable
                                    <a href="#">http://enva.to/GC58F</a>
											<span class="tweet-time">
												<i class="fa fa-twitter"></i> 3 hours ago
											</span>
                                </div>
                            </li>
                        </ul>
                    </aside><!-- /.widget -->
                </div><!-- /.col-md-3 -->

                <div class="col-md-3">
                    <aside class="widget widget_newslatter">
                        <div class="stripe-full">
                            <h4 class="widget-title">
                                Newsletter
                            </h4>
                        </div>
                        <!--<p>
                            Subscribe to our latest news and updates Be 100% sure that we will not spam you!
                        </p>
                        <form id="subscribe-form" class="subscirbe-form" method="post">
                            <p class="alert-success"></p>
                            <p class="alert-warning"></p>

                            <div class="subscribe-hide">
                                <input name="subscibe_email" type="email" id="subscibe_email" placeholder="Email address" required>
                                <button class="subscibe-btn" type="submit" value="Send"><i class="fa fa-envelope"></i></button>
                                <div class="subscribe-error"></div>
                            </div><!-- /.subscribe-hide -->
                           <!-- <div class="subscribe-message"></div>
                        </form> -->
                    </aside><!-- /.widget -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.section-padding -->

    <div class="copy-right text-center">
        <div class="container">
            © <a href="">La Finance s'engage</a> {{ 'now'|date('Y') }} - All Rights Reserves <span></span>
        </div>
    </div><!-- /.copyright -->
</footer><!-- /#footer-widget -->
