<section id="top-banner" class="top-banner background-image" data-bg-image="images/top-banner/bg-img-1.jpg">
    <div class="overlay">
        <div class="container">
            <div class="top-banner-item">
                <h2 class="top-banner-title-1">
                    Celebrating Lives
                </h2>
                <h3 class="top-banner-title-2">
                    With Dignity
                </h3>
                <div class="top-banner-btn">
                    <a href="#" class="btn lg-btn"> Get Started <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div><!-- /.top-banner-item -->
        </div>
    </div><!-- /.overlay -->
</section><!-- /#top-banner -->
