<section id="top-banner" class="top-banner background-image" data-bg-image="{{ asset('layout_one/images/slides/slide-1.jpg') }}">
    <div class="overlay">
        <div class="container">
            <div class="top-banner-item">
            </div><!-- /.top-banner-item -->
        </div>
    </div><!-- /.overlay -->
</section><!-- /#top-banner -->
